
@{
    ViewBag.Title = "Contact";
}

<head>
    <title>Contact</title>
</head>

@*<div class="splash">
        <div class="logoContainer">
            <img class="img-responsive" id="logoSplash" src="/Images/VE.gif" alt="Vaupel Electric" />
        </div>
    </div>*@

<div class="col-md-offset-10 col-xs-offset-7">
    <div class="scheduleButtonT">
        <a href="tel:9412847120" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-phone-alt"></span> Call: (941) 284-7120</a>
    </div>
</div>

<h2 class="contactHead">Contact Vaupel Electric!</h2>

<div class="centerThis"></div>

<address>
    <div class="centerThis">
        <strong>Phone:</strong>
        (941)284-7120
        <p></p>
        <strong>Email:</strong>   <a href="mailto:VaupelElectric@gmail.com"> Email@VaupelElectric</a><br />
    </div>
</address>

<body>
    <div class="centerThis">
        <h2>Email Us Now!</h2>
        <form method="post" action="ProcessRequest">
            <div>
                Your name :
                <input type="text" name="customerName" />
            </div>

            <div>
                Your email   :
                <input type="text" name="customerEmail" />
            </div>

            <div>
                Your phone:
                <input type="text" name="customerPhone" />
            </div>

            <div>
                Details about your inquiry: <br />
                <textarea name="customerRequest" cols="45" rows="4"></textarea>
            </div>

            <div>
                <input type="submit" value="Submit" />
            </div>
        </form>
    </div>

    @*TODO: Finish making this form look better. And also work.*@ 
    @*<div class="wrapper">
        <form class="form-signin" method="post" action="ProcessRequest">
            <h2 class="form-signin-heading">Lead Entry</h2>
            <input class="form-control" placeholder="Your Name" required="" />
            <input class="form-control" placeholder="Last Name" required="" />
            <input class="form-control" placeholder="Email" required="" />
            <input class="form-control" placeholder="Phone" required="" />
            <button class="btn btn-lg btn-primary" type="submit" value="Submit">Submit</button>
        </form>
    </div>*@
</body>
