@{
    ViewBag.Title = "Home Page";
}


<div class="splash">
    <div class="scheduleButton">
        <a href="Home/Contact" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-calendar"></span> Set Appointment!</a>
    </div>
    <img class="img-responsive" id="logoSplash" src="/Images/logo.jpg" alt="Vaupel Electric" />
    <div class="quoteButton">
        <a href="Home/Contact" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-usd"></span> Request A Quote!</a>
    </div>
</div>

<div class="turnTableSplash">

</div>

