@{
    ViewBag.Title = "Home Page";
}


<div class="splash">
    <div class="scheduleButton">
        <a href="Home/Contact" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-calendar"></span> Set Appointment!</a>
    </div>
    <img class="img-responsive" id="logoSplash" src="/Images/logo.jpg" alt="Vaupel Electric" />
    <div class="quoteButton">
        <a href="Home/Contact" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-usd"></span> Request A Quote!</a>
    </div>
</div>

<div class="turnTableSplash">
    <div class="carouselMover">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>
                <li data-target="#myCarousel" data-slide-to="7"></li>
            </ol>
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="item active">
                    <a href="http://octodex.jefflongo.surge.sh/">
                        <img src="/images/octodex.png" alt="First Slide" width="550">
                    </a>
                </div>
                <div class="item">
                    <a href="http://portfolio.jefflongo.surge.sh/">
                        <img src="/images/port.png" alt="Second Slide" width="550">
                    </a>
                </div>
                <div class="item">
                    <a href="http://stackoverclone.gear.host/">
                        <img src="/images/stack.png" alt="Third Slide" width="550">
                    </a>
                </div>
                <div class="item">
                    <a href="https://github.com/jeffreylongo/redditTakeTwo">
                        <img src="/images/reddit.png" alt="Fourth Slide" width="550" />
                    </a>
                </div>
                <div class="item">
                    <a href="https://github.com/jeffreylongo/Roll-A-Ball">
                        <img src="/images/rollaball.jpg" alt="Fifth Slide" width="550" />
                    </a>
                </div>
                <div class="item">
                    <a href="https://github.com/jeffreylongo/tiyMovieRental">
                        <img src="/images/movie.png" alt="Sixth Slide" width="550" />
                    </a>
                </div>
                <div class="item">
                    <a href="https://github.com/jeffreylongo/bootStrap">
                        <img src="/images/sports.png" alt="Sixth Slide" width="550" />
                    </a>
                </div>
                <div class="item">
                    <a href="https://github.com/jeffreylongo/corgi">
                        <img src="/images/corgi.png" alt="Seventh Slide" width="550" />
                    </a>
                </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>

