@{
    ViewBag.Title = "Home Page";
}


@*<div class="splash">
    <div class="logoContainer">
        <img class="center-block img-responsive" id="logoSplash" src="/Images/VE.gif" alt="Vaupel Electric" />
    </div>
</div>*@

<div class="splash">
    <div class="col-md-offset-10 col-xs-offset-7">
        <div class="scheduleButtonT">
            <a href="tel:9412847120" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-phone-alt"></span> Call: (941) 284-7120</a>
        </div>
    </div>
    <div class="splashBg"></div>
    <div class="logo">
        <img id="veLogo" class="img-responsive" src="/Images/VE.gif" alt="Vaupel Electric" />
    </div>
</div>

<div class="middle">
<div class="middleBg"></div>
    <div class="blurbWrapper">
            <div class="blurb1">
            <div class="blurbBg"></div>
                <div class="blurbTitle">
                    <h2>PROFESSIONAL, QUALITY ELECTRICAL WORK</h2>
                </div>
                <div class="blurbText">
                    <h5>When you have commercial, residential, or industrial work that needs to be done quickly and with an eye for quality, look no further than Vaupel Electric. We have the most highly-trained, industry-certified master electricians with years of experience working for commercial, residential, and industrial clients.</h5>
                </div>
            </div>

            <div class="blurb2">
                <div class="blurbBg"></div>
                <div class="serviceBlock">
                    <h2>Our Services</h2>
                </div>
                <div class="serviceList">
                    <ul>
                        <li>Electrical Audits</li>
                        <li>Repairs</li>
                        <li>Installations</li>
                        <li>Build Outs</li>
                        <li>Commercial</li>
                        <li>Residential</li>
                        <li>Industrial</li>
                        <li>And Much More!!!</li>
                    </ul>
                    <div class="readMoreServicesButton">
                        <a href="Home/Services" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-list"></span> Read More</a>
                    </div>
                </div>
            </div>

            <div class="blurb3">
                <div class="blurbBg"></div>
                <div class="testisBlock">
                    <h2>Testimonials</h2>
                </div>
                <div class="testisText">
                    <h5>
                        “ I cannot say enough good about Shaun Vaupel. His bid was so much lower than the other three companies, and although the work turned out to be more complex than originally planned, he stood by his original estimate. He was on-time, professional, and courteous. I would definitely use him for future electrical work.They delivered on time and under budget. Calling them was the best choice I ever could have made!”
                        -Sue S.Osprey, FL
                    </h5>
                </div>
                <div class="readMoreTestisButton">
                    <a href="Home/Testimonials" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-bullhorn"></span> Read More</a>
                </div>
            </div>

        </div>
</div>

@*<div class="buttons">
    <div class="scheduleButton">
        <a href="tel:9412847120" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-phone-alt"></span> Call: (941) 284-7120</a>
    </div>
    <div class="quoteButton">
        <a href="Home/Contact" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-usd"></span> Request A Quote!</a>
    </div>
</div>*@

@*<div class="turnTableSplash">
    <div class="carouselMover">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
            </ol>
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="item active">
                    <a href="/Home/Services">
                        <img class="cImage" src="/images/dock.jpg" alt="First Slide" width="550">
                        <div class="absolute-div">
                            <div class="carousel-caption">
                                <h3>Dock Lighting</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/Home/Services">
                        <img class="cImage" src="/images/fan.jpg" alt="Second Slide" width="550">
                        <div class="absolute-div">
                            <div class="carousel-caption">
                                <h3>Cieling Fan Installation</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/Home/Services">
                        <img class="cImage" src="/images/indoor.jpg" alt="Third Slide" width="550">
                        <div class="absolute-div">
                            <div class="carousel-caption">
                                <h3>Indoor Lighting</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/Home/Services">
                        <img class="cImage" src="/images/outdoor.jpg" alt="Fourth Slide" width="550" />
                        <div class="absolute-div">
                            <div class="carousel-caption">
                                <h3>Outdoor Lighting</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/Home/Services">
                        <img class="cImage" src="/images/sconce.jpg" alt="Fifth Slide" width="550" />
                        <div class="absolute-div">
                            <div class="carousel-caption">
                                <h3>Wall Sconce Lighting</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>*@

@*<div class="blurbWrapper">
    <div class="blurb1">
    <div class="blurbBg"></div>
        <div class="blurbTitle">
            <h2>PROFESSIONAL, QUALITY ELECTRICAL WORK</h2>
        </div>
        <div class="blurbText">
            <h5>When you have commercial, residential, or industrial work that needs to be done quickly and with an eye for quality, look no further than Vaupel Electric. We have the most highly-trained, industry-certified master electricians with years of experience working for commercial, residential, and industrial clients.</h5>
        </div>
    </div>

    <div class="blurb2">
        <div class="blurbBg2"></div>
        <div class="serviceBlock">
            <h2>Our Services</h2>
        </div>
        <div class="serviceList">
            <ul>
                <li>Electrical Audits</li>
                <li>Repairs</li>
                <li>Installations</li>
                <li>Build Outs</li>
                <li>Commercial</li>
                <li>Residential</li>
                <li>Industrial</li>
                <li>And Much More!!!</li>
            </ul>
            <div class="readMoreServicesButton">
                <a href="Home/Services" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-list"></span> Read More</a>
            </div>
        </div>
    </div>

    <div class="blurb3">
        <div class="blurbBg3"></div>
        <div class="testisBlock">
            <h2>Testimonials</h2>
        </div>
        <div class="testisText">
            <h5>
                “ I cannot say enough good about Shaun Vaupel. His bid was so much lower than the other three companies, and although the work turned out to be more complex than originally planned, he stood by his original estimate. He was on-time, professional, and courteous. I would definitely use him for future electrical work.They delivered on time and under budget. Calling them was the best choice I ever could have made!”
                -Sue S.Osprey, FL
            </h5>
        </div>
        <div class="readMoreTestisButton">
            <a href="Home/Testimonials" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-bullhorn"></span> Read More</a>
        </div>
    </div>

</div>*@


<br />
<p></p>

