
@{
    ViewBag.Title = "ProcessRequest";
}

@*<div class="splash">
    <div class="logoContainer">
        <img class="img-responsive" id="logoSplash" src="/Images/VE.gif" alt="Vaupel Electric" />
    </div>
</div>*@

<div class="col-md-offset-10 col-xs-offset-7">
    <div class="scheduleButtonT">
        <a href="tel:9412847120" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-phone-alt"></span> Call: (941) 284-7120</a>
    </div>
</div>

<h2>Ask an Electrician!</h2>

@{
    var customerName = Request["customerName"];
    var customerEmail = Request["customerEmail"];
    var customerPhone = Request["customerPhone"];
    var customerRequest = Request["customerRequest"];
    var errorMessage = "";
    var debuggingFlag = false;
    try
    {
        // Initialize WebMail helper
        WebMail.SmtpServer = "smtp.gmail.com";
        WebMail.SmtpPort = 587;
        WebMail.UserName = "3sgtejeff@gmail.com";
        WebMail.Password = "maxmaxmax";
        WebMail.From = "3sgtejeff@gmail.com";
        WebMail.EnableSsl = true;

        // Send email
        WebMail.Send(to: customerEmail,
            subject: "Quote/Info request from - " + customerName,
            body: customerPhone + customerRequest
        );
    }
    catch (Exception ex)
    {
        errorMessage = ex.Message;
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>Request for Quote/Info</title>
</head>

<body>
    <div class="request">
        <p>Thanks for requesting some info from us, <b>@customerName</b>.</p>
        @if (errorMessage == "")
        {
            <p>
                An email message has been sent to our expert electricians regarding the following inquery:
            </p>
            <p><b>@customerRequest</b></p>
        }
        else
        {
            <p><b>The email was <em>not</em> sent.</b></p>
            <p>
                Please check that the code in the ProcessRequest page has
                correct settings for the SMTP server name, a user name,
                a password, and a "from" address.
            </p>
            if (debuggingFlag)
            {
                <p>The following error was reported:</p>
                <p><em>@errorMessage</em></p>
            }
        }
    </div>
    <br />
</body>
</html>