
@{
    ViewBag.Title = "Team";
}

<div class="splash">
    <div class="logoContainer">
        <img class="img-responsive" id="logoSplash" src="/Images/VE.gif" alt="Vaupel Electric" />
    </div>
</div>

<h2 class="teamPageHead">Our Team</h2>
<br />
<div class="vaupelMover">
    <img class="img-circle" src="/Images/vaupel.jpg" alt="Shaun Vaupel" />
</div>

<div class="teamWords">
    <div class="teamHead">
        <h3>GO WITH SOMEONE WHO'S BEEN THERE!</h3>
    </div>
    <p></p>
    <div class="teamText">
        <h4>All of our electricians possess years of on-the-job experience. Not only that, they're also industry certified and committed to keeping up with the latest advances in the field. You can rest easy, because your electrical job will be in the best and most skilled hands that it can be.</h4>
    </div>
</div>

<div class="teamButtons">
    <div class="scheduleButton">
        <a href="tel:9412847120" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-phone-alt"></span> Call: (941) 284-7120</a>
    </div>
    <div class="quoteButton">
        <a href="Home/Contact" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-usd"></span> Request A Quote!</a>
    </div>
</div>
