
@{
    ViewBag.Title = "Team";
}

<div class="splash">
    <div class="logoContainer">
        <img class="img-responsive" id="logoSplash" src="/Images/VE.gif" alt="Vaupel Electric" />
    </div>
</div>

<h2>Team</h2>

