
@{
    ViewBag.Title = "Testimonials";
}

@*<div class="splash">
        <div class="logoContainer">
            <img class="img-responsive" id="logoSplash" src="/Images/VE.gif" alt="Vaupel Electric" />
        </div>
    </div>*@

<div class="col-md-offset-10 col-xs-offset-7">
    <div class="scheduleButtonT">
        <a href="tel:9412847120" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-phone-alt"></span> Call: (941) 284-7120</a>
    </div>
</div>

<div class="testimonialsText">
    <h2 class="testisHead">Testimonials</h2>

    <h3>Coming Soon!</h3>


    <div class="scheduleButton">
        <a href="tel:9412847120" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-phone-alt"></span> Call: (941) 284-7120</a>
        <a href="Contact" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-usd"></span> Request A Quote!</a>
    </div>
</div>
