

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

footer {
    position: fixed;
    bottom: 0;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    position: relative;
    z-index: 2000;
}

.navbar-collapse in {
    position: relative;
    z-index: 2000;
}

/* Set padding to keep content from hitting the edges, ...delete this>?*/
.body-content {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    border-color: yellow;
    background-color: darkblue;
}

    .navbar-inverse .navbar-nav > li > a {
        color: yellow;
        font-weight: bolder;
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            color: white;
        }

.testis {
}

.scheduleButtonL {
    margin-top: 10px;
    margin-left: 1000px;
}

.scheduleButtonT {
    position: fixed;
    z-index: 2000;
    margin-top: 51px;
}


.bigNumber {
    color: yellow;
    padding-top: 500px;
    margin-top: 500px;
    margin-left: 350px;
    font-size: 25px;
}

.splash {
    position: absolute;
    margin-left: 0;
    padding-left: 0px;
    padding-top: 0px;
    width: 100%;
    height: 700px;
    text-align: center;
}

.splashBg {
    z-index: 0;
    width: 100%;
    background: url(/Images/lightning3.jpg) center no-repeat;
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    height: 700px;
    opacity: .7;
    position: absolute;
}

.logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
}

#veLogo {
    height: 400px;
    position: relative;
    z-index: 100;
}

.middle {
    margin-top: 700px;
    position: absolute;
    z-index: 10;
    height: 350px;
    width: 100%;
    border-bottom: 50px solid darkblue;
}

.middleBg {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-color: darkblue;
    opacity: .3;
}


/*.splash {
    margin-top: 0px;
    z-index: 2000;
    display: flex;
    justify-content: center;
}
    d
#logoSplash {
    height: 200px;
}

#logoSplash2 {
}

.logoContainer {

    margin-top: -60px;
    z-index: 2000;
    background-color: darkblue;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 1px solid yellow;
    position: fixed;
}*/

.buttons {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.scheduleButton {
    position: relative;
    z-index: 0;
    height: 50px;
}

.quoteButton {
    position: absolute;
    z-index: 0;
    height: 50px;
}

.turnTableSplash {
    position: relative;
    clear: both;
    margin-top: 60px;
    background-color: lightgrey;
    width: 100%;
    height: 510px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-wrap: wrap;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
}

.cImage {
    border-radius: 10px;
    z-index: 0 !important;
    width: auto;
    height: 500px;
    max-height: 500px;
}

.blurbWrapper {
    margin-top: 0px;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



.blurb1 {
    height: 300px;
    width: 250px;
}

.blurb2 {
    height: 300px;
    width: 250px;
}

.blurb3 {
    height: 300px;
    width: 250px;
}

.readMoreServicesButton {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.readMoreTestisButton {
    display: flex;
    justify-content: center;
}


.separator {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.separatorBg {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: darkblue;
    opacity: .3;
}

.separator2 {
    position: relative;
    margin-top: 50px;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#commercial {
    margin-top: 0px;
}

#separator {
}

#separator2 {
}

.testisText h5 {
    margin: 5px;
    font-style: italic;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

    main img {
        margin: 5px;
    }

#main2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

    #main2 img {
        margin: 5px;
    }

.request {
    margin-top: 100px;
}

.teamPageHead {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.vaupelMover {
    display: flex;
    justify-content: center;
}

.teamHead {
    position: relative;
    z-index: 20;
    margin-left: 15px;
    width: 525px;
    border-radius: 5px;
}

    .teamHead h3 {
        color: yellow;
        padding: 10px;
        font-weight: bold;
    }

.teamHeadbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: darkblue;
    opacity: .3;
    border-radius: 10px;
    z-index: -1;
}

.teamTextBg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: darkblue;
    opacity: .3;
    border-radius: 10px;
    z-index: -1;
}

.teamText {
    position: relative;
    z-index: 1;
    margin-top: -20px;
    border-radius: 10px;
    background-color: darkblue;
    border-bottom: 1px solid yellow;
}

    .teamText h4 {
        font-weight: bold;
        padding: 20px;
        color: white;
    }

.teamButtons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.servicesHeaders {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.servicesHeader {

}



.servicesButtons1 {
}

.servicesButtons2 {
}

.homeServiceContainer {
    margin-right: 0px;
    padding-right: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.serviceImage {
    padding: 15px;
    padding-top: 50px;
}

.serviceText {
    position: relative;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    background-color: darkblue;
    border-radius: 10px;
}

.serviceTitle {
    color: yellow;
    margin-top: 10px;
}

#commercial {
    text-align: center;
}

.commercialServiceContainer {
    margin-right: 0px;
    padding-right: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

    .commercialServiceContainer .serviceImage {
    }

.contactHead {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.pricesHead {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.pricesButtons {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}


@media (min-width: 1200px) {
    .container {
        max-width: none;
    }
}

@media (max-width: 1024px) {
    .testis {
        margin-left: 0px;
    }

    .prices {
        margin-left: 0px;
    }

    .bigNumber {
        margin-left: 0px;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .buttons {
        margin-top: 150px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    /*This problem*/
    .splash {
        margin-top: 0px;
        /*margin-left: -270px;*/
    }

    .bigNumber {
        margin-left: 0px;
    }

    .home {
        margin-left: 0px;
    }

    .team {
        margin-left: 0px;
    }

    .testis {
        margin-left: 0px;
    }

    .services {
        margin-left: 0px;
    }

    .prices {
        margin-left: 0px;
    }

    .contact {
        margin-left: 0px;
    }

    .turnTableSplash {
        margin-top: 10px;
    }

    .serviceTitle {
        /*margin-left: -430px;*/
    }

    .contactHead {
        margin-top: 125px;
    }

    .pricesHead {
        margin-top: 125px;
    }

    .testisHead {
        margin-top: 125px;
    }

    .servicesHeader {
        margin-top: 125px;
    }

    .teamPageHead {

    }

    footer {
        margin-top: 500px;
    }
}

@media (max-width: 414px) {

    .middle {
        height: 1000px !important;
    }

    footer {
        margin-top: 100px;
    }

    .scheduleButtonL {
        margin-top: 10px;
        margin-left: 0px;
    }

    /*.splash {
        margin-top: 0px;
        margin-left: -135px;
    }

    #logoSplash {
        height: 100px;
    }*/
    .turnTableSplash {
        margin-top: 10px;
    }

    .services {
        margin-left: -0px;
    }

    .serviceText {
        display: flex;
        justify-content: center;
    }

    .testis {
        margin-left: -0px;
    }

    .contact {
        margin-left: 0px;
    }

    .bigNumber {
        margin-left: -0px;
    }

    .buttons {
        margin-top: 50px;
    }

    .contactHead {
        margin-top: 100px;
    }

    .pricesHead {
        margin-top: 100px !important;
    }

    .testisHead {
        margin-top: 100px;
    }

    .servicesHeader {
        margin-top: 100px;
    }

    .serviceTitle {
        /*margin-left: -425px;*/
    }

    .teamPageHead {
        margin-top: 100px;
    }

    .teamHead {
        width: 250px;
    }

    .vaupelMover {
        display: flex;
        justify-content: center;
    }
}
