body {
    padding-top: 50px;
    padding-bottom: 20px;
}

footer {
    position: relative;
    bottom: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    border-color: yellow;
    background-color: darkblue;
}

    .navbar-inverse .navbar-nav > li > a {
        color: yellow;
        font-weight: bolder;
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            color: white;
        }

.testis {
    margin-left: 320px;
}

.bigNumber {
    color: yellow;
    padding-top: 500px;
    margin-top: 500px;
    margin-left: 5px;
    font-size: 25px;
}

.splash {
    margin-top: 0px;
    z-index: 2000;
    display: flex;
    justify-content: center;
}

#logoSplash {
    height: 200px;
}

#logoSplash2 {
}

.logoContainer {
    margin-top: -60px;
    z-index: 2000;
    background-color: darkblue;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 1px solid yellow;
    position: fixed;
}

.buttons {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.scheduleButton {
    z-index: 0;
    height: 50px;
}

.quoteButton {
    z-index: 0;
    height: 50px;
}

.turnTableSplash {
    position: relative;
    clear: both;
    margin-top: 60px;
    background-color: lightgrey;
    width: 100%;
    height: 510px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-wrap: wrap;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
}

.cImage {
    border-radius: 10px;
    z-index: 0 !important;
    width: auto;
    height: 500px;
    max-height: 500px;
}

.col-md-3 {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.blurbWrapper {
    padding-top: 20px;
    position: relative;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    z-index: 0;
    border-radius: 0px;
    height: 375px;
    margin: 0px;
    margin-left: 0px;
}


.blurbBg {
    position: absolute;
    width: 95%;
    height: 95%;
    background-color: blue;
    opacity: .3;
    border-radius: 5px;
    z-index: -1;
    border-bottom: 5px solid yellow;
}

.blurbBg2 {
    position: absolute;
    width: 95%;
    height: 95%;
    background-color: blue;
    border-radius: 5px;
    opacity: .3;
    z-index: -1;
    border-bottom: 5px solid yellow;
}

.blurbBg3 {
    position: absolute;
    width: 95%;
    height: 95%;
    background-color: blue;
    opacity: .3;
    border-radius: 5px;
    z-index: -1;
    border-bottom: 5px solid yellow;
}

.blurbTitle {
    position: relative;
    z-index: 20;
    display: flex;
    justify-content: center;
}

.blurbText {
    z-index: 20;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.readMoreServicesButton {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.readMoreTestisButton {
    display: flex;
    justify-content: center;
}

.separator {
    text-align: center;
}

.separator2 {
    text-align: center;
}

.testisText h5 {
    margin: 5px;
    font-style: italic;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

    main img {
        margin: 5px;
    }

#main2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

    #main2 img {
        margin: 5px;
    }

.serviceText {
    position: absolute;
    display: flex;
    justify-content: center;
}

.serviceImage {
    position: relative;
}

    .serviceImage h3 {
        background-color: darkblue;
        position: absolute;
        top: 350px;
        width: 100%;
        color: yellow;
        text-align: center;
        border-radius: 5px;
    }

.request {
    margin-top: 100px;
}

.teamHead {
    position: relative;
    z-index: 20;
    margin-left: 15px;
    width: 525px;
    border-radius: 5px;
}

    .teamHead h3 {
        color: yellow;
        padding: 10px;
        font-weight: bold;
    }

.teamHeadbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: darkblue;
    opacity: .3;
    border-radius: 10px;
    z-index: -1;
}

.teamTextBg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: darkblue;
    opacity: .3;
    border-radius: 10px;
    z-index: -1;
}

.teamText {
    position: relative;
    z-index: 1;
    margin-top: -20px;
    border-radius: 10px;
    background-color: darkblue;
    border-bottom: 1px solid yellow;
}

    .teamText h4 {
        font-weight: bold;
        padding: 20px;
        color: white;
    }

.teamButtons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}


.servicesButtons1 {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.servicesButtons2 {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.servicesScheduleButton {
    display: flex;
    justify-content: center;
}

.homeServiceContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

    .homeServiceContainer .serviceImage {
        padding: 5px;
        display: flex;
        justify-content: center;
    }

.commercialServiceContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

    .commercialServiceContainer .serviceImage {
        padding: 5px;
        display: flex;
        justify-content: center;
    }

@media (max-width: 1024px) {
    .testis {
        margin-left: 0px;
    }

    .prices {
        margin-left: 300px;
    }

    .bigNumber {
        margin-left: 700px;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .buttons {
        margin-top: 150px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    /*This problem*/
    .splash {
        margin-top: 0px;
        /*margin-left: -270px;*/
    }

    .bigNumber {
        margin-left: 450px;
    }

    .home {
        margin-left: 0px;
    }

    .team {
        margin-left: 0px;
    }

    .testis {
        margin-left: 15px;
    }

    .services {
        margin-left: 350px;
    }

    .prices {
        margin-left: 0px;
    }

    .contact {
        margin-left: 430px;
    }

    .turnTableSplash {
        margin-top: 10px;
    }

    .serviceTitle {
        /*margin-left: -430px;*/
    }

    .contactHead {
        margin-top: 125px;
    }

    .pricesHead {
        margin-top: 125px;
    }

    .testisHead {
        margin-top: 125px;
    }

    .servicesHeader {
        margin-top: 125px;
    }

    .teamPageHead {
        margin-top: 125px;
    }

    footer {
        margin-top: 500px;
    }
}

@media (max-width: 414px) {
    footer {
        margin-top: 500px;
    }

    .splash {
        margin-top: 0px;
        /*margin-left: -135px;*/
    }

    #logoSplash {
        height: 100px;
    }

    .turnTableSplash {
        margin-top: 10px;
    }

    .services {
        margin-left: -0px;
    }

    .serviceText {
        display: flex;
        justify-content: center;
    }

    .testis {
        margin-left: -0px;
    }

    .contact {
        margin-left: 0px;
    }

    .bigNumber {
        margin-left: -0px;
    }

    .buttons {
        margin-top: 50px;
    }

    .contactHead {
        margin-top: 50px;
    }

    .pricesHead {
        margin-top: 50px;
    }

    .testisHead {
        margin-top: 50px;
    }

    .servicesHeader {
        margin-top: 50px;
    }

    .serviceTitle {
        /*margin-left: -425px;*/
    }

    .teamPageHead {
        margin-top: 50px;
    }

    .teamHead {
        width: 250px;
    }

    .vaupelMover {
        display: flex;
        justify-content: center;
    }
}

