body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    border-color: yellow;
}

    .navbar-inverse .navbar-nav > li > a {
        color: yellow;
        font-weight: bolder;
    }

    .navbar-inverse .navbar-nav > li > a:hover {
        color: white;
    }

.splash {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logoSplash {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 200px;
}

.scheduleButton {
    height: 50px;
}

.requestButton {
    height: 50px;
}

.turnTableSplash {
    margin-top: -100px;
    background-color: blue;
    width: 100%;
    height: 500px;
    z-index: 0;
}

cImage {
    width: auto;
    height: 225px;
    max-height: 225px;
}
